[Unit]
PartOf=peertube-pod.service

[Container]
ContainerName=peertube-webserver
Image=docker.io/chocobozzz/peertube-webserver:latest
Pod=peertube.pod

EnvironmentFile=.env

Volume=%h/docker-volume/nginx/peertube:/etc/nginx/conf.d/peertube.template
Volume=peertube-assets.volume:/var/www/peertube/peertube-latest/client/dist:ro
Volume=%h/docker-volume/data:/var/www/peertube/storage
Volume=peertube-certbot-www.volume:/var/www/certbot
Volume=%h/docker-volume/certbot/conf:/etc/letsencrypt

[Service]
Restart=always
