[Unit]
PartOf=peertube-pod.service

[Container]
ContainerName=peertube-certbot
Image=docker.io/certbot/dns-cloudflare:latest
AutoUpdate=registry
Pod=peertube.pod

Entrypoint=["/bin/sh", "-c", "trap exit TERM; while :; do certbot renew --webroot -w /var/www/certbot; sleep 12h & wait $${!}; done;"]

Volume=%h/docker-volume/certbot/conf:/etc/letsencrypt
Volume=peertube-certbot-www.volume:/var/www/certbot

[Service]
Restart=always
