[Unit]
PartOf=peertube-pod.service

Requires=peertube-postgres.service
After=peertube-postgres.service
Requires=peertube-redis.service
After=peertube-redis.service
Requires=peertube-postfix.service
After=peertube-postfix.service

[Container]
ContainerName=peertube-server
Image=docker.io/chocobozzz/peertube:production-bookworm
Pod=peertube.pod

EnvironmentFile=.env

Volume=peertube-assets.volume:/app/client/dist
Volume=%h/docker-volume/data:/data
Volume=%h/docker-volume/config:/config

[Service]
Restart=always
