[Unit]
PartOf=peertube-pod.service

[Container]
ContainerName=tailscaled
Image=docker.io/tailscale/tailscale:stable
Pod=peertube.pod

AddCapability=CAP_NET_ADMIN

EnvironmentFile=.env
Environment=TS_HOSTNAME=peertube
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:peertube
Environment=TS_TAILSCALED_EXTRA_ARGS=--state=mem:
Environment=TS_USERSPACE=false

Volume=/dev/net/tun:/dev/net/tun

[Service]
Restart=always
