[Unit]
PartOf=peertube-pod.service

[Container]
ContainerName=tailscaled
Image=docker.io/tailscale/tailscale:stable
Pod=peertube.pod

EnvironmentFile=.env
Environment=TS_HOSTNAME=peertube
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:peertube

Volume=%h/tailscaled/state:/var/lib/tailscale

[Service]
Restart=always
